{sub_dirs, [
    "apps/introflection",
    "rel"
]}.

{deps, [
    {lager, ".*", {git, "git://github.com/basho/lager", {tag, "2.1.1"}}},
    {cowboy, ".*", {git, "git://github.com/ninenines/cowboy", {tag, "2.0.0-pre.1"}}},
    {gproc, ".*", {git, "git://github.com/uwiger/gproc", {tag, "0.3.1"}}},
    {rmarshal, ".*", {git, "git://github.com/kyrylo/rmarshal", {tag, "v0.0.2"}}},
    {jiffy, ".*", {git, "git://github.com/davisp/jiffy", {tag, "0.13.3"}}}
]}.

{erl_opts, [
    warn_missing_spec,
    debug_info,
    {parse_transform, lager_transform}
]}.
