%% -*- mode: erlang -*-
{sys, [
    {lib_dirs, [
        "../..",
        "../deps"
    ]},
    {erts, [
        {vsn, "6.3"},
        {mod_cond, derived},
        {app_file, strip}
    ]},
    {app_file, strip},

    {rel, "introflection", "1", [
        kernel,
        stdlib,
        mnesia,
        gproc,
        cowboy,
        rmarshal,
        jiffy,
        introflection
    ]},

    {rel, "start_clean", "1", [
        kernel,
        stdlib
    ]},

    {boot_rel, "introflection"},
    {profile, embedded},
    {incl_cond, derived},
    {excl_archive_filters, [".*"]}, %% Do not archive built libs
    {excl_sys_filters, [
        "^bin/(?!start_clean.boot)",
        "^erts.*/bin/(dialyzer|typer)",
        "^erts.*/(doc|info|include|lib|man|src)"
    ]},
    {excl_app_filters, ["\.gitignore"]},
    {app, introflection, [{incl_cond, include}]}
]}.

{target_dir, "introflection"}.
