%% -*- mode: erlang -*-
{sys, [
    {lib_dirs, [
        "../..",
        "../deps"
    ]},
    {erts, [{vsn, "6.3"}]},
    {rel, "introflection", "1", [
        kernel,
        stdlib,
        rmarshal,
        jiffy,
        introflection
    ]},

    {rel, "start_clean", "1", [
        kernel,
        stdlib
    ]},

    {boot_rel, "introflection"},
    {app, introflection, [{incl_cond, include}]}
]}.

{target_dir, "introflection"}.
